.content-box {
  display: inline-block;
  width: 540px;
  border: 0;
  margin: 20px;
  margin-left: 90px;
  align-self: auto;
}

.content-box2 {
  display: inline-block;
  width: 530px;
  border: 0;
  margin: 20px;
  margin-left: 10px;
  align-self: auto;
}

.first-bullet {
  color: #ff43ab;
}

.second-bullet {
  color: #fff400;
}

.third-bullet {
  color: #14dc20;
}

.fourth-bullet {
  color: #08bff6;
}

.fifth-bullet {
  color: #9ac;
}

.title-of-graph1 {
  text-align: left;
}

.title-of-graph2 {
  text-align: left;
}

.title-of-graph1,
.title-of-graph2 {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

.content-box #graph1,
.content-box2 #graph2 {
  float: left;
}

.content-box .title-of-graph1,
.content-box2 .title-of-graph2 {
  margin: 5px;
}

.content-box .first-bullet,
.content-box .second-bullet,
.content-box .third-bullet,
.content-box .fourth-bullet,
.content-box .fifth-bullet {
  text-align: right;
  margin: 5px;
}

.content-box2 .first-bullet,
.content-box2 .second-bullet,
.content-box2 .third-bullet,
.content-box2 .fourth-bullet,
.content-box2 .fifth-bullet {
  text-align: right;
  margin: 5px;
}

#legendsOfGraph1,
#legendsOfGraph2,
.bullet-list-graphs {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}

#legendsOfGraph1,
#legendsOfGraph2 {
  list-style-type: none;
  padding: 0;
}

#legendsOfGraph1 .brands-hyper-tags:hover,
#aboutTheseGraphs .brands-hyper-tags:hover,
#legendsOfGraph2 .brands-hyper-tags:hover {
  background-color: #0063dc;
  color: white;
}

#aboutTheseGraphs {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
  margin-left: 120px;
}

.graphs {
  margin-left: 80px;
}

@media screen and (max-width: 1215px) {
  .graphs {
    display: block;
  }

  .content-box {
    display: block;
    width: 540px;
    border: 0;
    margin: 20px;
    margin-left: 90px;
    align-self: auto;
  }

  .content-box2 {
    display: inline-block;
    width: 530px;
    border: 0;
    margin: 20px;
    margin-left: 90px;
    align-self: auto;
  }

  #legendsOfGraph1,
  #legendsOfGraph2,
  .bullet-list-graphs {
    font-size: 13px;
  }
}
