.rankTable {
  margin-left: 183px;
  border-collapse: collapse;
  text-indent: initial;
  width: 73%;
  text-align: left;
  border-spacing: 10px;
}

.tableCell {
  padding: 10px;
  font-size: 13px;
}

#tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.rankTable .th {
  padding: 4px 12px;
  background: #f3f3f3;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  color: #666;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: left;
}

.th:first-child,
.tableCell:first-child {
  text-align: center;
}

.tableRow:nth-child(1),
.tableRow:nth-child(2),
.tableRow:nth-child(3),
.tableRow:nth-child(4),
.tableRow:nth-child(5) {
  font-weight: bold;
}

.tableRow:nth-child(2n) {
  border-top: 1px solid #f3f3f3;
  background-color: whitesmoke;
  border-bottom: 1px solid #f3f3f3;
}

.tableRow:hover {
  background-color: #e0e0e0;
}

.th .cameraTable:hover,
.tableCell .cameraTable:hover {
  background-color: #0063dc;
  color: white;
}

@media screen and (max-width: 1000px) {
  .rankTable {
    overflow-x: auto;
    margin-left: 70px;
    min-width: 170%;
  }

  .tableCell {
    font-size: 11px;
  }

  #tbody {
    min-width: 33%;
  }

  .rankTable .th {
    min-width: 33%;
    font-size: 13px;
  }
}
