.main-change-password-after-loading {
  display: flex;
  margin: auto;
  max-width: 30%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.change-password-form {
  margin-top: 16em;
}

.change-pw-btn {
  color: white;
  background-color: dodgerblue;
  border-radius: 0.1em;
  padding: 0.6em
}
