.images {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

#image-size {
  width: 143px;
  height: 143px;
}

.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #f3f5f6;
  overflow-x: hidden;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  position: relative;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

h6 {
  color: grey;
}

img:hover {
  opacity: 0.9;
}

.expand {  /* place expand icon at top right of image */
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.images:hover .expand {
  display: block;
}

/* model */

/* The Modal (transperent background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom; /* add animation to the image when appearing */
  animation-duration: 1.5s;
}

@keyframes zoom { /* define animation */
  from { transform: scale(0); } /* transform from 0 */
  to { transform: scale(1); } /* to 1 */
}

/* The Close Button */
.close {
  position: absolute;
  top: 100px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 80% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 80%;
  }
}
