.images {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

#image-size {
  width: 143px;
  height: 143px;
}

.wrapper {
  padding-top: 45px;
  background: #f3f5f6;
}

.sidenav {
  height: 70%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 48px;
  left: 0;
  background-color: #f3f5f6;
  overflow-x: hidden;
  padding-top: 40px;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

h6 {
  color: grey;
}

img:hover {
  opacity: 0.9;
}

.expand {
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.images:hover .expand {
  display: block;
}

.expand a {
  color: white;
}

/* model */
