
/* to maintain the position of the footer  */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar {
  background-color: #212124;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-brand {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  padding-top: 2px;
  margin-left: 8rem;
  margin-right: 25px;
}

.button1 {
  background-color: transparent;
  margin-right: 0;
  margin-left: 800px;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.icon-bar {
  font-size: 25px;
  position: absolute;
  right: 230px;
  display: inline-block;
}

.icon-bar a {
  color: white;
  margin-left: 15px;
}

.icon-bar a:hover {
  color: grey;
}

.icons {
  display: inline-block;
  position: fixed;
  right: 135px;
}

.icons a {
  color: white;
  font-size: 25px;
  margin-left: 15px;
}

.navbar-light .navbar-toggler {
  color: white;
}

/* Dropdown Link */
.droplink-main-nav {
  color: white;
  padding: 5px;
  font-size: 15px;
  margin-right: 25px;
}

.droplink-main-nav:hover {
  color: grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-main-nav {
  position: relative;
  display: inline-block;
  margin-top: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown-main-nav:hover .dropdown-content { display: block; }



/* STYLING OF FOOTER */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212124;
  color: white;
  padding: 15px;
  font-size: small;
  height: 11em;
}

hr {
  background-color: grey;
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: grey;
  text-decoration: transparent;
}
