.homePage
{
    background-color:#f3f5f6;
    align-content: center;
    align-items: center;

}
.homePageContentMain
{   
    justify-content:center;
    flex-direction: row ;
    display: flex;
    max-width: 80%;
    flex-wrap: nowrap;
    background-color:#f3f5f6;
    height: 100%;
    margin:auto;
}
.homePageFeed
{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-right: 2em;
    max-width: 1080px;
}
.homePageSideBar
{
    flex-grow: 1;
    text-align: center;
    width:300px;
    max-width: 300px;
}
.homeFeedFilters
{
    display: flex;
    position:relative;
    margin-top: 20px;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
}
.homeFeedColumnContent 
{
    text-align: center;
    align-items: center;
    align-content: center;
}
.noFollowingErrorDiv
{
    color: #212124;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}
.errorMessagediv
{
    text-align: center;
}
.errorFollowingTitle
{
    font-weight: 300;
    font-size: 28px;
    line-height: 1.5em;
    margin: 0 0 12px;
}
.errorFollowingMessage
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 24px;
}
.feed-people-to-follow
{
    text-align: left;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    background-color:white;
    margin-bottom: 20px;
    border-radius: 0%;
}
.feed-people-to-follow p
{
    padding-left: 1.75em;
    display: inline-flex;
}
.cards-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1.75em;
}
.single-card
{
    width:520px;
    height:280px;
    position: relative;
    margin-right: 1px;
}
.view-more
{
    text-align:center;
    border-top: 1px solid #e1e1e1;
    height: 40px;
}
@media all and (max-width: 1755px) 
  {
    .homePageSideBar 
    {   
        display: none;
    }
    .homePageContentMain
    {
        max-width: 100%;
    }
  }
  @media all and (max-width: 1120px) 
  {
    .homePageContentMain
    {
        max-width: 550px;
    }
    .homePageFeed
    {
        margin-right: 0px;
    }
  }