.exploreCardMain
{
    background-color: #fff;
    padding: 1em;
    margin-top: 2.5em;
    border-radius: 5px;
    margin-bottom: 1em;
}
.sideBarCardTitle
{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #212124;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1em;
    font-weight:300;
    text-align: left;
}
.exploreCardColumn
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.exploreCardRow
{
    display: flex;
    flex: 1;
    max-width: 270px;
}
.exploreCardRow img
{
    min-width: 30px;
    height: 85px;
    padding : 2px;
    float: right;
    flex-grow: 1;
    object-fit: cover;
}
.groupsForYouContainer
{
    width: 300px;
    height: 290px;
    background-color: #fff;
    padding: 1em;
    margin-top: 1em;
    border-radius: 5px;
    margin-bottom: 2.5em;
}
.groupsRecommendationsContainer
{
    width: 260px;
    height: 220px;
}
.groupRow
{
    width: 260px;
    height: 110px;
}
.singleGroupCard
{
    margin-bottom: 10px;
    height: 100px;
}