/*Group Navbar styling*/ 

.group-nav{
    opacity: 1!important;
    height: 50px;
    margin-bottom: 20px;
    position: sticky;
    position: -webkit-sticky;
    top:62px;
    z-index: 1000;
}

.group-nav-overflow {
    background-color: #fff;
    width: 100%;
    height: 50px;
    position: relative;
    overflow: visible;
    box-shadow: inset 0 -2px transparent;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
    box-sizing: border-box;
}

.group-nav-content{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.group-nav-items{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.group-links{
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: initial;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    box-sizing: border-box;
    white-space: nowrap;
    user-select: none;
    width: 100%;
    display: flex;
}

.group-link{
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid transparent;
    margin-right: 10px;
    display: inline-block;
    transition: border-bottom .1s linear;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    user-select: none;
}

.group-nav-items-a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    color: #000;
    font-size: 12pt;
    font-weight: 400;
    line-height: 170%;
    opacity: .75;
    box-sizing: border-box;
    height: 50px;
    cursor: pointer;
}
.group-nav-items-a:hover{
    text-decoration: none;
    border-bottom: 3px solid #0091dc;
    color: #000;
}
.group-selected{
    border-bottom: 3px solid #0091dc;
}