/* Members styling */
#members-main{
    opacity: 1!important;
}

.group-members{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.members h5{
    margin: 0 0 5;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

}
.member-list{
min-height: 100px;
}
.member-card{
    width: 355px;
    margin: 0 16px 16px 0;
    box-sizing: border-box;
    height: 90px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    background-color: #fff;
}

.member-card-size{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    display: block;
}

.member-card-size::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.member-avatar-content{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-right: 12px;
    z-index: 2;
    position: relative;
}

.member-avatar-content a{
    cursor: pointer;
    text-decoration: none;
    
}

.member-avatar{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    background-color: #ddd;
    background-size: cover;
    box-shadow: inset 0 0 20px rgb(0 0 0 / 8%);
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    transition: box-shadow .15s ease-in-out;
}

.member-card-text{
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 -80px 0 auto;
    background-color: #fff;
    line-height: 110%;
    width: 100%;
    max-width: 276px;
    overflow: hidden;
    z-index: 2;
    position: relative;
    pointer-events: none;
}

.member-card-text::after {
    content: "";
    width: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    background: 
    linear-gradient(
    90deg,
    transparent,
    hsla(0,0%,100%,0),
    #fff);
}

.member-title {
    font-size: 12pt;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    line-height: 110%;
}

.member-subtitle{
    line-height: 1.75;
    font-size: 10pt;
    color: #898989;
    margin: 0;
    white-space: nowrap;
}

.member-pro  {
    margin-bottom: -3px;
    margin-right: 5px;
    color: #898989;
    width: 19px;
        display: inline-block;
    box-sizing: border-box;
    transform: translateZ(0);
    font-size: 16px;
    height: 16px;
    white-space: nowrap;
}

.member-subtitle span{
    font-size: 10pt;
    color: #898989;
    white-space: nowrap;
}
.member-subtitle ::after {
    content: "";
}

.member-links a{
    font-size: 11pt;
    color: #898989;
    pointer-events: auto;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    line-height: 110%;
}

.member-photo-icon{
    background: url(https://combo.staticflickr.com/ap/build/images/sprites/icons-32dc0fa1.png) -420px -477px no-repeat;
    width: 18px;
    height: 14px;
}

.member-links i{
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    font-size: 11pt;
    color: #898989;
    pointer-events: auto;
    cursor: pointer;
    white-space: nowrap;
    line-height: 110%;
}
.member-followers-icon{
    margin-right: 10px;
    white-space: nowrap;
    line-height: 110%;
}

.member-followers-icon a{
    font-size: 11pt;
    color: #898989;
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
}

.member-followers-icon i{
    background: url(https://combo.staticflickr.com/ap/build/images/sprites/icons-32dc0fa1.png) -324px -477px no-repeat;
    width: 19px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    cursor: pointer;
    white-space: nowrap;
    line-height: 110%;
}

.member-follow-button{
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    box-shadow: -4px 4px 4px 4px #fff, 5px 4px 0 7px #fff;
}
.member-follow-button button{
    position: relative;
    height: 29px;
    line-height: 29px;
    min-width: 80px;
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 600;
    text-align: center;
    transition: all .15s ease-in-out;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.member-follow-button button:hover{
    border: solid;
    border-width: thin;
    border-color: #1c9be9;
    background-color: #fff;
    color: #1c9be9;
}