#exploreTitle {
   font-family: sans-serif;
   color: black;
   font-size: 25px;
   font-weight: lighter;
   text-align: left;
   margin-left: 30px;

}
.explorePageContent{
  background-color: #F1F1F1;
}