
.div-find-inspire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 235px;
  font-size: 56px;
  color: aliceblue;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.div-join-flickr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  font-size: 34px;
  color: aliceblue;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}
