
/* to maintain the position of the footer  */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin: 0 0;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.164) ;
  }
  
  .navbar-light .navbar-brand {
    color: white;
  }
  
  .navbar-brand {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    padding-top: 2px;
    margin-left: 1rem;
    margin-right: 8rem;
  }
  
  .navbar-light .navbar-brand:hover {
    color: white;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
/*   
  .icon-bar {
    font-size: 25px;
    position: absolute;
    right: 230px;
    display: inline-block;
  }
   */
  /* .icon-bar a {
    color: white;
    margin-left: 15px;
  }
   */
  /* .icon-bar a:hover {
    color: grey;
  }
   */
  /* .icons {
    display: inline-block;
    position: fixed;
    right: 135px;
  } */
/*   
  .icons a {
    color: white;
    font-size: 25px;
    margin-left: 15px;
  } */
  
  .navbar-light .navbar-toggler {
    color: white;
  }
  
  
  