.nav-link{
  color: white;
}
.nav-link:hover{
  color:rgba(255,255,255,.75);
}

.navbar{
  background-color: #212124;
  
}
.navbar-light .navbar-brand{
  color: white;
}

.navbar-brand {
  font-family: 'Inter', sans-serif;
  margin-left: 160px;
  margin-right: 20px;
  font-size: 1.6rem;
  padding-top: 2px;
}