
.nav-link:hover{
  color:rgba(255,255,255,.75);
}

.navbar{
  background-color: #212124;
 
}
.App{
  position: relative;
}

.navbar-light .navbar-brand{
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: grey;
}

.navbar-brand {
  font-family: 'Inter', sans-serif;
  margin-left: 160px;
  margin-right: 20px;
  font-size: 1.6rem;
  padding-top: 2px;
}

.navbar-light .navbar-brand:hover{
  color: white;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.navbar-light .navbar-nav .nav-link{
  color: white;
}

.icon-bar{ 
  font-size: 25px; 
  position: absolute;
  right: 120px;
  
  
}

.icon-bar a{
  color: white;
  margin-right: 15px;
}

.icon-bar a:hover{
  color: grey;
}