.images{
    
    display: inline-block;
    margin-right: 10px;
    
}
#image-size{
    width: 143px;
    height: 143px;
}

.wrapper{
    padding: 10px;
    background:#f3f5f6;

}

.sandy{
    align-items: auto;
}