@import './CameraFinder/CameraFinder.css';
@import './CameraFinder/PopCameras.css';
@import './CameraFinder/RankTable.css';
@import './CameraFinder/Graphs.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100%!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f5f6!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "./Home/homePage.css";
@import "./Profile/Cover.css";
@import "./Profile/SubNavBar.css";
@import "./Profile/ProfileContainer.css";
@import "./Profile/AboutBio.css";
@import "./Profile/Showcase.css";
@import "./Profile/UserInfo.css";
@import "./Profile/GeneralStats.css";
@import "./Profile/MostPop.css";
@import "./Profile/Testimonials.css";
@import "./Profile/faves.css";