/* @import url("./Profile/Cover.css");
@import url("./Profile/SubNavBar.css"); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import "./Profile/Cover.css";
@import "./Profile/SubNavBar.css";
@import "./Profile/ProfileContainer.css";
@import "./Profile/AboutBio.css";