/* About page styling */

#about {
  width: 975px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

#about::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#about-page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

#about-page p {
  margin: 0;
  padding: 0;
}

#about-page div {
  padding: 0;
  text-align: left;
}

#about-page a:link {
  text-decoration: none;
  color: #0063dc;
}

#about-page a:hover {
  background-color: #0063dc;
  color: #ffff;
}
/* About sidebar styling */

#about-sidebar {
  float: left;
  width: 200px;
  min-height: 600px;
  margin-top: 14px;
  padding-right: 20px;
  border-right: 1px solid #dbdbdb;
}

#about-sidebar-ul {
  margin: 4px 0 25px;
  padding: 0;
}

#about-sidebar-li {
  list-style: none;
  margin: 0;
  font-size: 15.18px;
  line-height: 30.35px;
  padding: 3px 0;
  border-bottom: 1px solid #dbdbdb;
}

#about-sidebar-h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
}

#about-sidebar p {
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 22px;
}

#about-join {
    padding: 3px 0;
    display: block;
    margin: 28px 0 26px;
    text-align: center;
    line-height: 30.35px;
}
/* About main styling */

#about-main {
  float: left;
  max-width: 600px;
  margin-left: 60px;
  display: block;
}

#about-main h1 {
  margin: 0 0 16px;
  line-height: 29px;
  color: #ff0084;
  font-size: 24px;
  font-weight: bold;
  padding: 25px 0 0;
}

#about-main h2 {
  margin: 16px 0 10px;
  font-size: 20px;
  line-height: 25px;
  padding: 0;
}

#about-main blockquote {
  margin: 16px 40px;
  padding: 0;
}
#about-main h3 {
  line-height: 22px;
  font-size: 16px;
  margin: 0 0 10px;
  padding: 0;
}

#about-main p {
  margin: 12px 0;
}

#team {
  color: #ff0084;
}
/* Team members styling*/

#team-table {
  margin-left: -15px;
}
#team-table p {
  font-size: 9px;
  color: #999;
  font-size: smaller;
  white-space: nowrap;
}
#team-table img {
  vertical-align: middle;
}
#team-table img:hover {
  border-bottom-style: solid;
  border-bottom-color: #0063dc;
  border-image-outset: 0 0 5px;
}