.general-stats{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    border-top: 1px solid #e3e3e3;
    line-height: 14px;
    color: #898989;
    padding: 30px 10% 10px;
    box-sizing: border-box;
}
.grid-container{
    margin: 0;
    padding: 0;
    padding-left: 0;
    list-style-type: none;
    box-sizing: border-box;
    height: auto;
    line-height: 15px;
    position: relative;
}
.item{
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    min-width: 115px;
    margin-right: 0;
}
.item a{
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: #898989;
}
.item a:hover{
    color: #898989;
}
.item span {
    cursor: pointer;
    color: #212124;
    line-height: 20px;
    padding-bottom: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
}
