.showcase-view{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #212124;
    line-height: 14px;
}
.showcase{
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    padding: 40px 10%;;
}
.title-view{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}
.showcase-container{
    
}
.grid-item {
    float: left;
    min-width: 150px;
    height: 250px;
    padding: 2px;
    text-align: left;
}
.divider{
    clear: both;
    border-top: 1px solid #e3e3e3;
}