.user-info{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #212124;
    line-height: 14px;
    padding: 20px 10%;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
#edit-form-container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.user-info-container{
    padding-top: 40px;
}
.info-view-container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.info-view-container ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 48%;
}
 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 48%;
}
 li{
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    height: 40px;
    display: flex;
}
.info-view-container li{
    margin-bottom: 10px;
    position: relative;
    height: 40px;
    display: flex;
}
.title{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    vertical-align: text-top;
    color: #898989;
    width: 120px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 8px;
}
.user-join-date{
display: inline-block;
color: #000;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 20px;
vertical-align: text-top;
}
.spacer{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 48%;
}
.divider{
    clear: both;
    border-top: 1px solid #e3e3e3;
}
input{
    position: absolute;
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    border: none;
    outline: none;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    resize: none;
    appearance: none;
    width: 70%;
    padding-right: 20px;
    min-width: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.filter-img{
    outline-width: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    vertical-align: text-top;
    cursor: pointer;
    color: #898989;
    height: auto;
    min-width: 50px;
    width: auto;
    position: absolute;
    top: 5px;
    right: 0;
}
span > img{
    display: inline-block;
    height: 24px;
    width: 24px;
    fill: currentColor;
}
#inputCurrentCity{
    width: 58%;
    margin-right: 60px;
}