#cameraImages{
  vertical-align:bottom;
  width:fit-content;
  height:fit-content;
  margin-bottom: 10px;
  margin-left: 30px; 
}
.mostPopularCameras{
  margin-left: 190px;
  background-color:white;
  width: 73%;
  height: 450px; 
  margin: 0 auto;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items:baseline;
}
.topFive{
  width: 200px;
  height: 200px;
  text-align:center;
  flex-basis: 600px;
  margin-top: 10px;
  align-items: center;
}
#brandName{
  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 18px;
  position: relative;  
    left: 61%;                        
    top: 80%; 
    bottom: 100%;                         
    transform: translate(-50%, -30%); 
}
#brandModel, #brandName{
  text-align: center; 
  justify-content: center;
  vertical-align: bottom;
  
}
#brandModels{
  font-size: 15px;
  justify-self: center;
  position: relative;  
    left: 55%;                       
    top: 150%;                         
    transform: translate(-50%, -10%); 
}
#brandName a:hover, #brandModels a:hover{
  background-color: #0063dc;
  color: white;
}
@media screen and (max-width: 1215px) {
.mostPopularCameras {
  flex-direction: column;
  flex-grow: column wrap;
  height:auto;
  align-items: center;  
}
.topFive{
  flex-basis: 100px;
  justify-content: space-between;
  height:20%;
  margin-top: 0px;
}
#brandModel, #brandName{
  text-align: center; 
  justify-content: center;
  vertical-align: bottom;
  position: relative;
      top:100%;
}
}